*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Segoe UI';
}

a{
    text-decoration: none;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: rgba(74, 84, 92, 0.8);
    padding: 40px;
}

.logo{
    font-size: 20px;
    font-weight: bold;
}

header span{
    color: #4bcaff;
}

.navbar{
    width: 50%;
}

.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active{
    color: #4bcaff;
    border: 2px solid #4bcaff;
    padding: 8px 15px;
}

.background{
    background: url(../img/Hero.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.quotes{
    padding-top: 200px;
    padding-bottom: 200px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.quotes p{
    display: inline-block;
    background-color: rgba(74, 84, 92, 0.8);
}
