*{
    padding: 0;
    margin: 0;
}

html, a{
    color: white;
    font-family: 'Segoe UI';
}

a{
    text-decoration: none;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: rgba(74, 84, 92, 0.8);
    padding: 40px;
}

.logo{
    font-size: 20px;
    font-weight: bold;
}

header span{
    color: #4bcaff;
}

.navbar{
    width: 50%;
}

.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active{
    color: #4bcaff;
    border: 2px solid #4bcaff;
    padding: 8px 15px;
}

.background{
    background: url(../img/Hero.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.quotes{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}

.quotes p {
    background-color: rgba(74, 84, 92, 0.8);
    margin-bottom: 10px;
    display:inline-block;
}

.services {
    background-color: #4bcaff;
    padding-top:50px;
    padding-bottom:50px;
}

/* .services p span {
    text-decoration: underline;
}
.services .titel {
    margin-bottom:10px;
    font-size: 25px;
} */

.titel span {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.titel {
    margin-bottom:10px;
    font-size: 25px;
}

.service {
    padding-right:20px;
    padding-top:25px;
}

.serviceContainer {
    display:flex;
    justify-content:space-evenly;
}

.serviceTitle {
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:20px;
}

.serviceText {
    font-size: 13px;
}

.testimonials{
    color:rgba(74, 84, 92);
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonials-header{
    display: flex;
    justify-content: space-between;
}

.quote{
    font-size: 40px;
}

.citaat{
    font-size: 24px;
    line-height: 44px;
}

.signoff{
    color: #4bcaff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
}

.contact{
    background: url(../img/Contact_photo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contactform {
    display:flex;
    justify-content: space-between;
}

.contactinputs label, input {
    display: block;
    background: transparent;
}

.contactinputs input {
    border: 2px solid white;
    width: 400px;
    height: 30px;
    margin-bottom:15px;
}

label {
    font-weight: bold;
    font-size:12px;
}

.contactinputs {
    margin-right:50px;
}

textarea {
    width: 100%;
    background: transparent;
    border: 2px solid white;
}

.sendbutton {
    background-color: #4bcaff;
    color: white;
    padding: 15px 100px;
    margin-top: 15px;
    border: none;
}
